<%- include("./header.ejs") %>

    <!-- About One Start -->
    <section class="about-one" id="about">
        <div class="about-one__shape-1">
            <img src="assets/images/shapes/about-one-shape-1.png" alt="">
        </div>
        <div class="about-one__shape-2">
            <img src="assets/images/shapes/about-one-shape-2.png" alt="">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-6 wow slideInLeft" data-wow-delay="100ms" data-wow-duration="2500ms">
                    <div class="about-one__left">
                        <div class="about-one__left-shape-1 rotate-me"></div>
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="about-one__img-box">
                                    <div class="about-one__img">
                                        <img src="/assets/my-image/about-one-img-1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="about-one__awards-box">
                                    <div class="about-one__awards-count-box">
                                        <h3 class="odometer" data-count="45">00</h3>
                                        <span>+</span>
                                    </div>
                                    <p>Awards Winning</p>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="about-one__experience-box">
                                    <div class="about-one__experience-box-inner">
                                        <div class="about-one__experience-icon">
                                            <img src="assets/images/icon/about-one-experience-icon.png" alt="">
                                        </div>
                                        <div class="about-one__experience-count-box">
                                            <div class="about-one__experience-count">
                                                <h3 class="odometer" data-count="25">00</h3>
                                                <span>+</span>
                                                <p>Years</p>
                                            </div>
                                            <p>of experience</p>
                                        </div>
                                    </div>
                                    <div class="about-one__experience-box-shape"></div>
                                </div>
                                <div class="about-one__img-box-2">
                                    <div class="about-one__img-2">
                                        <img src="/assets/my-image/about-one-img-2.jpg" alt="">
                                    </div>
                                    <div class="about-one__img-shape-1 float-bob-y">
                                        <img src="assets/images/shapes/about-one-img-shape-1.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="about-one__right">
                        <div class="section-title text-left sec-title-animation animation-style2">
                            <div class="section-title__tagline-box">
                                <div class="section-title__tagline-shape"></div>
                                <span class="section-title__tagline">About Us</span>
                            </div>
                            <h2 class="section-title__title title-animation">Our Story: Built On Values, Driven By
                                <span>Innovation <img src="assets/images/shapes/section-title-shape-1.png"
                                        alt=""></span>
                            </h2>
                        </div>
                        <p class="about-one__text">We are dedicated to transforming education through digital
                            innovation, making learning more accessible, engaging, and effective for everyone. By
                            integrating cutting-edge technology, we aim to create an inclusive and dynamic learning
                            environment</p>
                        <ul class="about-one__mission-and-vision list-unstyled">
                            <li>
                                <div class="about-one__icon-and-title">
                                    <div class="about-one__icon">
                                        <img src="assets/images/icon/mission-icon.png" alt="">
                                    </div>
                                    <h3>Our Mission:</h3>
                                </div>
                                <p class="about-one__mission-and-vision-text">To provide innovative digital
                                    education solutions that empower learners and educators, fostering a culture to
                                    growing your value</p>
                            </li>
                            <li>
                                <div class="about-one__icon-and-title">
                                    <div class="about-one__icon">
                                        <img src="assets/images/icon/vision-icon.png" alt="">
                                    </div>
                                    <h3>Our Vision</h3>
                                </div>
                                <p class="about-one__mission-and-vision-text">To provide innovative digital
                                    education solutions that empower learners and educators, fostering a culture to
                                    growing your value</p>
                            </li>
                        </ul>
                        <div class="about-one__btn-and-live-class">
                            <div class="about-one__btn-box">
                                <a href="#course" class="about-one__btn thm-btn"><span
                                        class="icon-angles-right"></span>Know More</a>
                            </div>
                            <h3 class="about-one__live-class">Live Class <img
                                    src="assets/images/shapes/live-class-shape-1.png" alt=""></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About One End -->

    <!--Contact Info One Start -->
    <section class="contact-info-one">
        <div class="container">
            <ul class="list-unstyled contact-info-one__list">
                <li>
                    <div class="contact-info-one__single">
                        <div class="contact-info-one__icon">
                            <span class="icon-envelope"></span>
                        </div>
                        <div class="contact-info-one__content">
                            <p class="contact-info-one__sub-title">Email Address:</p>
                            <h5 class="contact-info-one__email"><a href="">support@pnportal.com</a>
                            </h5>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="contact-info-one__single">
                        <div class="contact-info-one__icon">
                            <span class="icon-phone"></span>
                        </div>
                        <div class="contact-info-one__content">
                            <p class="contact-info-one__sub-title">Phone Number</p>
                            <h5 class="contact-info-one__email"><a href="tel:001239957689">+91 9691213817</a>
                            </h5>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="contact-info-one__single">
                        <div class="contact-info-one__icon">
                            <span class="icon-location"></span>
                        </div>
                        <div class="contact-info-one__content">
                            <p class="contact-info-one__sub-title">Our Address</p>
                            <h5 class="contact-info-one__email">MIG-332 Darpan Colony,Thatipur,Gwalior</h5>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <!--Contact Info One End -->

    <%- include("footer.ejs") %>